<div class="login-cover">
    <div class="login-cover-image"><img src="/Theme_Template/img/login_bg.jpg" data-id="login-cover-image" alt="" /></div>
    <div class="login-cover-bg"></div>
</div>

<!-- begin login -->
<div class="login login-v2" data-pageload-addclass="animated fadeIn">
    <!-- begin brand -->
    <div class="login-header">
        <div class="brand move_you_2">
            <span class="fa fa-bar-chart-o"></span> BudgetPlanner

        </div>
    </div>
    <!-- end brand -->
    <div class="login-content" ng-controller="registerCtrl as register">
        <div class="margin-bottom-0">
            <div class="form-group m-b-20">
                <input type="text" class="form-control input-lg" placeholder="Username" ng-model="register.model.DisplayName" />
            </div>
            <div class="form-group m-b-20">
                <input type="text" class="form-control input-lg" placeholder="Email Address" ng-model="register.mode.Email" />
            </div>
            <div class="form-group m-b-20">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="register.model.Password" />
            </div>
            <div class="form-group m-b-20">
                <input type="password" class="form-control input-lg" placeholder="Confirm Password" ng-model="register.model.ConfirmPassword" />
            </div>
            <div class="checkbox m-b-20">
                <label>
                    Have an Invite Code?
                </label>
            </div>
            <div class="form-group m-b-20">
                <input type="text" class="form-control input-lg" placeholder="Invite Code" ng-model="register.inviteCode" />
            </div>
            <div class="m-t-20">
            </div>
            <div class="login-buttons">
                <button type="button" class="btn btn-success btn-block btn-lg" ng-click="register.register_noCode(register.model)">Sign me up.</button>
            </div>
            <div class="m-t-20">
            </div>
            <div class="login-buttons">
                <button type="button" class="btn btn-white btn-block btn-lg " ng-click="user.goSignIn()">Use Existing Account</button>
            </div>
        </div>
    </div>
</div>
<!-- end login -->
