<div class="login-cover">
    <div class="login-cover-image"><img src="/Theme_Template/img/login_bg.jpg" data-id="login-cover-image" alt="" /></div>
    <div class="login-cover-bg"></div>
</div> 
<!-- begin login -->
<div class="login login-v2" data-pageload-addclass="animated fadeIn">
    <!-- begin brand -->
    <div class="login-header">
        <div class="brand move_you_2">
            <span class="fa fa-check"></span> Please make a selection.

        </div>
    </div>
    <!-- end brand -->
    <div class="login-content">
        
    </div>
</div>
<!-- end login -->
