

<div class="row">

    <div class="panel-heading">
        <h3 >{{houseDetails.display.Name}} HouseHold</h3>
    </div>

    <!--<div class="login-cover">
        <div class="login-cover-image"><img src="/Theme_Template/img/login_bg.jpg" data-id="login-cover-image" alt="" /></div>
        <div class="login-cover-bg"></div>
    </div>-->

    <div class="col-md-8">

        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Members</h4>
            </div>
            <div class="panel-body bg-silver">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in houseDetails.display.Users">
                            <td>{{user.DisplayName}}</td>
                            <td>{{user.Email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /member table -->
 
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Leave</h4>
            </div>
            <div class="panel-body bg-silver">
                <p>Leave this household and start a new one.</p>

                <form novalidate class="simple-form">
                    <input type="checkbox" /> I understand that by leaving this household, I will no longer have access to this household's accounts.
                    <br />
                    <br />
                    <input type="submit" class="btn btn-warning" value="Leave This HouseHold" ng-click="house.leaveHousse()" />
                </form>
            </div>
        </div>    

    </div><!-- /left column -->

    <div class="col-md-4">

   

        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Invite</h4>
            </div>
            <div class="panel-body bg-silver">
                <p>Invite someone to join your household.</p>

                <form novalidate class="form-inline">
                    <div class="form-group">
                        <input type="email" ng-model="houseDetails.inviteEmail" class="form-control" placeholder="Email" />
                    </div>
                    <input type="submit" class="btn btn-success" value="Send Invitation" ng-click="house.createInvite(houseDetails.inviteEmail)" />
                </form>
            </div>
        </div>

    </div><!-- /right column -->

</div><!-- /row -->