
<div class="invoice">
   
    <div class="invoice-company">
        <span class="pull-right hidden-print">
            <a href class="btn btn-sm btn-primary m-b-10"><i class="fa fa-edit m-r-5"></i> Edit</a>
            <a href class="btn btn-sm btn-warning m-b-10"><i class="fa fa-archive m-r-5"></i> Archive</a>
        </span>    
        {{accountDetails.account.Name}}
    </div><!-- account name -->



    <div class="invoice-content">
        <div class="table-responsive">
            <h4>Transactions</h4>
            <hr />
            <table class="table-invoice table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trans in accountDetails.account.Transactions">
                        <td>{{trans.Description}}</td>
                        <td>{{trans.Amount | currency}}</td>
                        <td>{{trans.Categories.Name}}</td>
                        <td>
                            <div class="btn-group">
                                <label type="button" class="btn btn-primary"><i class="fa fa-edit m-r-5"></i> Edit</label>
                                <label type="button" class="btn btn-danger"><i class="fa fa-trash m-r-5"></i> Delete</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /transactions -->

    <div class="invoice-price">
        <div class="invoice-price-left">

        </div>
        <div class="invoice-price-right">
            <small>Balance</small>
            {{accountDetails.account.Balance | currency}}
        </div>
    </div>

    <div class="sub-price">
        <div class="invoice-date">
            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> New Transaction</button>
        </div>
    </div>

</div>